/* Fontes */
$fontGreat: 'great_vibesregular';
$fontLato: 'Lato', sans-serif;

/* Colors */
$black: #000;
$blackOpt: rgba(0, 0, 0, 0.4);
$blackOpt2: rgba(0, 0, 0, 0.7);
$brown: #8c4e11;
$bluishGreen: #59cec7;
$gray: #464646;
$green: #0f9;
$white: #fff;
$whiteOpt: rgba(255, 255, 255, 0.8);