// Compass
@import
    'compass',
    'compass/reset';

// Utils
@import
	'utils/fonts',
	'utils/variable';
	
// Base
@import
    'base/common';

// Components
@import
	'components/boxes';

#clientes{
	h2{
		color: $blue;
		font: 40px / normal $futura;
		margin: 30px auto -13px;
		width: 95%;
	}
	
	.main-clients{
		background-color: $white;
		margin: 0 auto;
		padding: 47px 0;
		width: 100%;

		ul{
			display: table;
			margin-bottom: 30px;
			width: 100%;

			li{
				display: table-cell;
				vertical-align: middle;
				text-align: center;
				width: 33.3%;
			}

			&:last-child{
				margin-bottom: 0;
			}
		}
	}

	.box-text{
		@extend %boxtext;

		p{
			font: 14px / 1 $arial;
			margin: 0 auto 20px;
			width: 95%;

			&:last-child{
				margin-bottom: 0;
			}
		}
	}
}