#header{
	background-color: $bluishGreen;
	bottom: 0;
	display: block;
	margin-left: -240px;
	overflow-y: auto;
	position: absolute;
	top: 0;
	transition: margin-left 0.5s;
	width: 240px;
	z-index: 5;

	&.active{
		margin-left: 0;
		transition: margin-left 0.5s;
	}

	#menu{
		ul{
			li{
				border-bottom: 1px solid $white;
				display: block;
				width: 100%;

				a{
					color: $white;
					display: block;
					font-family: $fontLato;
					font-size: 16px;
					margin-left: 15px;
					padding: 21px 0;
					text-decoration: none;

					i{
						border-bottom: 0 solid transparent;
						border-left: 8px solid transparent;
						border-right: 8px solid transparent;
						border-top: 10px solid $white;
						display: inline-block;
						height: 8px;
						margin-left: 10px;
						width: 10px;
					}

					&.active{
						i{
							border-bottom: 10px solid $white;
							border-left: 8px solid transparent;
							border-right: 8px solid transparent;
							border-top: 0 solid transparent;
							display: inline-block;
							height: 8px;
							margin-left: 10px;
							width: 10px;
						}
					}
				}

				&.dropdown{
					ul{
						background-color: rgba(255, 255, 255, 0.5);
						display: none;
						height: auto;
						
						&.active{
							display: block;
						}

						li{
							&:last-child{
								border-bottom: none;
							}
						}
					}
				}
			}
		}
	}
}

@media only screen and (min-width: 769px){
	#header{
		background-color: $blackOpt;
		display: table;
		height: 70px;
		margin-left: 0;
		overflow-y: none;
		position: relative;
		transition: none;
		width: 100%;

		&.active{
			transition: none;
		}

		#menu{
			display: table-cell;
			vertical-align: middle;
			width: 100%;

			ul{
				margin: 0 auto;
				text-align: center;

				li{
					border-bottom: none;
					display: inline-block;
					padding: 0 5px;
					position: relative;
					text-align: center;
					width: auto;

					a{
						font-size: 16px;
						margin-left: 0;
						padding: 8px;

						&:hover{
							text-decoration: underline;
						}
					}

					&:hover{
						&.dropdown{
							a{
								i{
									border-bottom: 10px solid $white;
									border-left: 8px solid transparent;
									border-right: 8px solid transparent;
									border-top: 0 solid transparent;
									display: inline-block;
									height: 8px;
									margin-left: 10px;
									width: 10px;
								}
							}

							ul{
								border-radius: 10px;
								background-color: $white;
								display: block;
								left: 0;
								position: absolute;
								top: 30px;
								width: 240px;
								z-index: 2;

								li{
									padding: 0;

									&:hover{
										background-color: $bluishGreen;
									}

									a{
										border-bottom: 1px solid $bluishGreen;
										color: $black;
										display: block;
										margin: 0 20px;
										padding: 10px;

										&:hover{
											color: $white;
											text-decoration: none;
										}
									}

									&:first-child{
										&:hover{
											border-top-right-radius: 10px;
											border-top-left-radius: 10px;
										}
									}

									&:last-child{
										border-bottom: none;

										&:hover{
											border-bottom-right-radius: 10px;
											border-bottom-left-radius: 10px;
										}

										a{
											border-bottom: none;
										}
									}
								}
							}
						}
					}

					&.dropdown{
						ul{
							background-color: rgba(255, 255, 255, 0.5);
							display: none;
							height: auto;
							
							&.active{
								border-radius: 10px;
								background-color: $white;
								display: block;
								left: 0;
								position: absolute;
								top: 30px;
								width: 240px;
								z-index: 2;

								li{
									padding: 0;
									
									&:hover{
										background-color: $bluishGreen;
									}

									a{
										border-bottom: 1px solid $bluishGreen;
										margin: 0 20px;
										padding: 10px;

										&:hover{
											color: $white;
											text-decoration: none;
										}
									}

									&:first-child{
										&:hover{
											border-top-right-radius: 10px;
											border-top-left-radius: 10px;
										}
									}

									&:last-child{
										border-bottom: none;

										&:hover{
											border-bottom-right-radius: 10px;
											border-bottom-left-radius: 10px;
										}

										a{
											border-bottom: none;
										}
									}
								}
							}

							li{
								display: block;
								
								&:last-child{
									border-bottom: none;
								}

								a{
									color: $black;
									display: block;
								}
							}
						}
					}
				}
			}
		}
	}
}