#cha-de-cozinha{
	.txt{
		&:nth-of-type(1){
			margin-top: 20px;
		}
	}
	
	.btn-confirm{
		@extend %btn-confirm;
	}
}

@media only screen and (min-width: 769px) and (max-width: 1024px){
	#cha-de-cozinha{
		.btn-confirm{
			width: 40%;
		}
	}
}

@media only screen and (min-width: 1025px){
	#cha-de-cozinha{
		.btn-confirm{
			width: 30%;
		}
	}
}