#daminhas{
	.box-flower-girls{
		.flower-girls{
			border-bottom: 1px dotted $gray;

			&:last-of-type{
				border-bottom: none;
			}

			h3{
				text-align: center;
			}
		}
	}
}

@media only screen and (min-width: 769px){
	#daminhas{
		.box-flower-girls{
			&:before,
			&:after{
				content: '';
				clear: both;
				display: table;
			}

			.flower-girls{
				border-bottom: none;
				float: left;
				margin-right: 3.3%;
				width: 30%;

				&:nth-of-type(1){
					margin-top: 0;
				}

				&:last-of-type{
					margin-right: 0;
				}

				h3{
					display: block;
					font-size: 24px;
				}
			}
		}
	}	
}